<html>
<link rel="stylesheet" href="/static/css/playercontroler.css">
<link rel="stylesheet" href="/static/css/songinfo.css">
<link rel="stylesheet" href="/static/css/playlist.css">
<link rel="stylesheet" href="/static/css/jsmpc.css">

<script src="/static/js/jquery-2.1.1.js"></script>
<script src="/static/js/playerviewer.js"></script>
<script src="/static/js/currentsonginfo.js"></script>
<script src="/static/js/controler.js"></script>
<script src="/static/js/globals.js"></script>
<script src="/static/js/httpmethods.js"></script>
<script src="/static/js/playlistviewerhelper.js"></script>
<script src="/static/js/playlistviewer.js"></script>
<script src="/static/js/eventhandler.js"></script>
<script src="/static/js/run.js"></script>

<body>
<div class = "jsmpc">

<div class = "songinfo">
    <div id="songtitle" class="textstyle songtitle"></div>
</div>


<div class = "playercontroler">
    <div id="nextbutton" type="button" value=""></div>
    <div id="previousbutton" type="button" value=""></div>
    <div id="playerbutton" type="button" value=""></div>
</div>

<div class="playlist">
    <ul id="scroller"></ul>
</div>

<script type="text/javascript">
    run()
</script>
</div>

</body>
</html>
