<html>
<link rel="stylesheet" href="/static/css/button.css">
<link rel="stylesheet" href="/static/css/songinfo.css">
<link rel="stylesheet" href="/static/css/playlist.css">

<script src="/static/js/jquery-2.1.1.js"></script>
<script src="/static/js/player.js"></script>
<script src="/static/js/currentsonginfo.js"></script>
<script src="/static/js/controler.js"></script>
<script src="/static/js/globals.js"></script>
<script src="/static/js/httpmethods.js"></script>
<script src="/static/js/playlist.js"></script>
<script src="/static/js/playlistviewer.js"></script>
<script src="/static/js/run.js"></script>

<body>
<form name="buttonnextform" onsubmit="javascript:next()">
<input id="nextbutton" type="submit" value="" class="playercontroler next">
</form>

<form name="buttonpreviousform" onsubmit="javascript:previous()">
<input id="previousbutton" type="submit" value="" class="playercontroler previous">
</form>

<div id="songtitle" class="textstyle songtitle" value = "-1"></div>
<p>
<form name="playerform" onsubmit="javascript:play()">
<input id="playerbutton" type="submit" value="">
</form>



<ul id="scroller">
</ul>

<form name="scrollbuttonform" onsubmit="javascript:scrolldown()">
<input id="scrolldownbutton" type="submit" value="scroll">
</form>

<script type="text/javascript">
run()
</script>

</body>
</html>
